#CoverBacG {
    position: absolute;
    translate: 0rem -50px;
    z-index: 1;
}
#BackIMGA {
    height: 74rem;
    width: 83rem;
}
#TitleCardCard {
    position: absolute;
    z-index: 2;
    translate: 21rem 32rem;
}
#TitleText {
    position: absolute;
    font-family: "Blippo";
    color: #FFBD00;
    z-index: 2;
    translate: 11rem 15rem;
    font-size: 8rem;
}
@font-face {
    font-family: 'Blippo'; /*a name to be used later*/
    src: url(BlippoRegular.ttf); /*URL to font*/
}
#pagebutton {
    position: fixed;
    z-index: 3;
    translate: 52rem 21rem;
    cursor: pointer;
}
#ButtonVisual {
    scale: -0.4 0.4;
}
pagebutton:hover {
    color: white;
}
@keyframes fadeinreverse {
    from { opacity: 1; }   /* Start fully visible */
    to { opacity: 0; }     /* End fully transparent */
}
pagebutton.fade-out {
    animation: fadeinreverse 1.3s forwards;
}